html,
body {
  margin: 0;
  background: -webkit-linear-gradient(45deg, #49a09d, #5f2c82);
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
  height: 100%;
}
canvas{
  margin: 0 auto;
  align-content: center;
  align-items: center;
  align-self: center;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 100%;
  }

#divChart {
  display: block;
  position: absolute;
  background-color: rgba(239, 239, 239,1);
  border-radius: 20px;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 600px;
  max-height: calc(100vh - 155px);
  overflow: auto;
  max-width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}